.product-showc>se {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease-in-out; /* Add this line */
  }
  .container {
    width:80vw;
    transition:0.4s;
    background: cyan;
    border-radius:30px;
  }
  body {
    display:flex;
    justify-content: center;
    align-items: center;
    background: red;
  }