:root {
    /* Cores seguindo a regra do 60% 30% 10%. Podem ser modificadas dependendo do caso*/
    --cor-fundo: #ccccf7;
    --cor-destaque: #FFFFFF; 
    --cor-interac: #4A3AFF;
    --cor-texto: #170F49;

    /* Tamanhos para texto */
    --tamanho-grande: 22px;
    --tamanho-medio: 14px;
    --tamanho-pequeno: 8px; 
}

/* Header e Footer */

html {
    width:100%;
}

body {
    color: var(--cor-texto);
    background: var(--cor-fundo);
    font-family: 'DM Sans';
    min-height: 100vh;
    max-width:100%;
    margin: 0;
}

#header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    box-sizing: border-box;
    max-width:100%;
    height: auto;
    align-items: center;
    padding: 25px 0px 25px 64px;
    background: var(--cor-destaque);
    border-radius: 0px 0px 10px 10px;
    user-select: none;
    z-index: 20;
}
.container-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:28px;
    font-weight: 700;
    margin-right:15vw;
}
#texto-logo {
    margin-left:10px;
}
#nav-header {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right:10vw;
    
}
#nav-header ul {
    display: flex;
    flex-direction: row;
    list-style:none;
    margin: 0;
    padding: 0;
}
#nav-header a {
    text-decoration: none;
    color: var(--cor-texto);
    font-size:18px;
    font-weight: 500;
}
#nav-header li {
    margin: 0 1vw;
}
#nav-atual {
    color: var(--cor-interac) !important;
}
#nav-header a:not(#nav-atual):hover {
    color: var(--cor-interac)
}
#imagem-logo:hover {
    animation: rodalogo 1s infinite;
}
#imagem-logo img {
    width:75px;
    height:75px;
}
#container-usuario {
    display: flex;
    flex-direction: row;
}
#container-usuario img {
    margin-right: 12px;
}
#container-usuario span {
    font-size:18px;
    text-decoration:none;
}
#nome-usuario {
    margin-left: 4px;
    color: var(--cor-interac);
    margin-right:20px;
}
@keyframes rodalogo {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#footer {
    width: 100%;
    max-width:100%;
    height: 200px;
    padding-left:64px;
    position: relative; 
    box-sizing: border-box;
    bottom:0pt;
    left:0pt;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:left;
    background: var(--cor-texto);
    color:white !important;
    user-select:none;
}
#footer-lado1 {
    width: 50vw;
    max-width:50vw;
}
#footer-lado1 img {
    margin-right:10px;
}
#footer-lado2 {
    width: 50vw;
    padding-right:10vw;
    text-align: right;
    font-size: 12px;

    max-width:50vw;
}

@media (max-width: 900px) {
    #header {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(3, auto); 
        height: auto; 
        padding: 10px; 
    }
    #nav-header {
        margin-bottom:15px;
    }
    .container-logo,
    #nav-header,
    #container-usuario {
        text-align: center; 
    }
}







/* Home */
#container-video {
    margin-top:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:left;   
}
#container-mascote-produtos{
    background: var(--cor-destaque);
    margin-top:15px;
    justify-content:left;
    align-items: top;
    background: var(--cor-destaque);
    padding: 20px 15px 20px;
    width:90vw;
    border-radius:10px;
    margin-bottom: 40px;
    transition: 0.4s;
}
#container-video .conteudo-mp-video{
    padding: 10px 15px 20px 50px;
    margin-top:15px;
    margin-bottom: 4    0px;
    background:var(--cor-destaque);
    width:80vw;
}
#display-produtos {
    width:100%;
    max-width:100%;
    box-sizing:border-box;
    height:170px;
    background:#ccc;
}
#container-bolas {
    margin-top:15px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:15px;
}
.bolamaior {
    border-radius: 360px;
    height: 18px; width:18px;
    display: flex;
    justify-content:center;
    align-items:center;
    background: #ccc;
    border: 1px #b7b5b5 solid;
    margin-right:10px;
}
.bolamenor {
    border-radius:360px;
    height:10px; width:10px;
    background: var(--cor-interac);
}
#container-mascote-produtos .texto-destaque, #container-video .texto-destaque {
    font-size:25px;
}
.conteudo-mp,.conteudo-mp-video {
    border-radius:10px;
    padding-left:120px;
    margin-bottom: 15px;
    font-weight: 600;
    display: grid;
    margin-left:10px; 
    align-items:center;
    grid-template-columns: 60% 40%; 
    transition: 0.4s;
}
#container-mascote-produtos .conteudo-mp:hover {
     background-image:linear-gradient(#6688f5,#9d96e9); 
     background: #6688f5; 
    color: white;
    box-shadow: 5px 5px 5px #cccccc;
}
.conteudo-mp:hover .texto-destaque{
    transition: 0.4s;
    color:#2715ec
}
.texto-mp {
    font-size:23px; 
}
.imagem-mp{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center ;
    align-items:center;
}
.imagem-mp iframe {
    border-radius:15px;
    margin-left:15px;
}
.imagem-mp img {
    object-fit: cover;
    margin-left:15px;
    height: 10vw;
    width: 80%;
    border-radius:20px;
}   



/* Sobre */

#sobre-containerlogo {
    margin-top:25px;
    display:flex;
    flex-direction:column;
    align-items:center;

}

#sobre-mascotero {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}
#sobre-mascotero-logo {
    perspective: 100vh;
    border: 2px solid var(--cor-texto);
    display:flex;
    align-items:center;
    justify-content: center;
    background: var(--cor-destaque);
    height:25vw; width:25vw;
    z-index:1;
    margin-bottom: -12.5vw;
    border-radius:50%;
    user-select: none;
    transition: 0.4s
}
#sobre-mascotero-logo:hover {
    cursor:pointer;
    border: 2px double var(--cor-interac);
    border-color: var(--cor-interac);
}
#sobre-mascotero-logo img {
    transform:rotateY(0deg);
    height: 20vw; width: 20vw; 
}

@keyframes roda3d {
    0% {
        transform: rotateY(0deg);
        content:url(./imagens/Emblema_Mascotero.svg);
    }

    100% {
        transform: rotateY(180deg);
        content:url("./imagens/Emblema_Mascotero_Alternativo_Equipe.svg");
    }
}
@keyframes roda3dREVERSO{
    0% {
        transform: rotateY(180deg);
        content:url(./imagens/Emblema_Mascotero_Alternativo_Equipe.svg);
    }

    100% {
        transform: rotateY(360deg);
        content:url("./imagens/Emblema_Mascotero.svg");
    } 
}
@keyframes desaparece {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}
@keyframes aparece {
    0% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
#sobre-mascotero-texto {
    display:flex;
    justify-content: center;
    border: 2px solid var(--cor-texto);
    width:80vw;
    padding-bottom:15px;
    background: var(--cor-destaque);
    border-radius: 15px;
    margin-bottom:150px;
    overflow:hidden;
}
#sobre-mascotero-texto .texto-destaque {
    margin-top: calc(12.5vw + 5px);
}
#sobre-mascotero-titulo .texto-destaque {
    justify-self: center;
    font-size:40px;
}

#sobre-mascotero-marca .conteudo-mp {
    grid-template-columns: 90% 10%;
    padding-left: 40px !important;
}
#sobre-mascotero-texto .centraliza{
    margin-bottom:20px;
}
#sobre-mascotero-marca {
    min-width:100%;
}
#sobre-mascotero-equipe {
    min-width:100%;
    display:none;
}
#sobre-mascotero-equipe , #sobre-mascotero-marca {
    perspective: 100vh;
}
#sobre-mascotero-equipe .conteudo-mp{
    width:100%;
    grid-template-columns: 20% 80%;
    padding-right: 40px;
}
#sobre-mascotero-equipe .texto-mp {
    align-self:left;
}
#texto-nossa-equipe {
    margin-top: -10px;
    max-width:90%;
    text-align:center;
    font-size: 20px;
    font-weight: 600;

}

#sobre-mascotero-equipe .imagem-mp img {
    margin-left: 0;
    margin-right:15px;
}
/* Utilidade geral */

.separador {
    width:50%;
    max-height:2px;
    border: 2px solid var(--cor-interac);
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px; 
}
.bola-separador {
    border-radius: 50%;
    background-color: var(--cor-interac);
    z-index: 1;
    width: 5px; height: 5px;
    border: 10px solid var(--cor-fundo);
    margin:20px;
}

.centraliza
{
    display: flex; 
    align-items:center;
    justify-content:center;
    width:100%;
}

.texto-destaque {
    font-weight: 700;
    color: var(--cor-interac);
    font-size: 30px;
}

.content {
    max-width:100%;
    flex:1;
    transition: 0.4s;
}

.container-geral {
    margin-top:130px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100%;
}