:root {
    /* Cores seguindo a regra do 60% 30% 10%. Podem ser modificadas dependendo do caso*/
    --cor-fundo: #ccccf7;
    --cor-destaque: #FFFFFF; 
    --cor-interac: #4A3AFF;
    --cor-texto: #170F49;

    /* Tamanhos para texto */
    --tamanho-grande: 22px;
    --tamanho-medio: 14px;
    --tamanho-pequeno: 8px; 
}

/* Header e Footer */

html {
    width:100%;
}

body {
    color: var(--cor-texto);
    background: var(--cor-fundo);
    font-family: 'DM Sans';
    min-height: 100vh;
    margin: 0;
}

#header {
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    max-width:100vw;
    height: 70px;
    align-items: center;
    padding: 25px 0px 25px 64px;
    background: var(--cor-destaque);
    border-radius: 0px 0px 10px 10px;
    user-select: none;
    z-index: 1000;
}
.container-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:28px;
    font-weight: 700;
    margin-right:15vw;
}
#texto-logo {
    margin-left:10px;
}
#nav-header {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-right:10vw;
    
}
#nav-header ul {
    display: flex;
    flex-direction: row;
    list-style:none;
    margin: 0;
    padding: 0;
}
#nav-header a {
    text-decoration: none;
    color: var(--cor-texto);
    font-size:18px;
    font-weight: 500;
}
#nav-header li {
    margin: 0 1vw;
}
#nav-atual {
    color: var(--cor-interac) !important;
}
#nav-header a:not(#nav-atual):hover {
    color: var(--cor-interac)
}
#imagem-logo:hover {
    animation: rodalogo 1s infinite;
}
#imagem-logo img {
    width:75px;
    height:75px;
}
#container-usuario {
    display: flex;
    flex-direction: row;
}
#container-usuario img {
    margin-right: 12px;
}
#container-usuario span {
    font-size:18px;
    text-decoration:none;
}
#nome-usuario {
    margin-left: 4px;
    color: var(--cor-interac);
    margin-right:20px;
}
@keyframes rodalogo {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#footer {
    width: 100vw;
    max-width:100vw;
    height: 200px;
    padding-left:64px;
    position: relative; 
    bottom:0pt;
    left:0pt;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:left;
    background: var(--cor-texto);
    color:white !important;
    user-select:none;
}
#footer-lado1 {
    width: 50vw;
    max-width:50vw;
}
#footer-lado1 img {
    margin-right:10px;
}
#footer-lado2 {
    width: 50vw;
    padding-right:10vw;
    text-align: right;
    font-size: 12px;

    max-width:50vw;
}
@media (max-width: 900px) {
    #header {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(3, auto); 
        height: auto; 
        padding: 10px; 
    }
    #nav-header {
        margin-bottom:15px;
    }
    .container-logo,
    #nav-header,
    #container-usuario {
        text-align: center; 
    }
}







/* Home */

.content {
    margin-top:120px;
    flex:1;
    transition: 0.4s;
}

.container-geral {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100vw;
}
#container-video {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:left;   
}
#container-mascote-produtos {
    background: var(--cor-destaque);
    margin-top:15px;
    justify-content:left;
    align-items: top;
    background: var(--cor-destaque);
    padding: 20px 15px 20px;
    width:90vw;
    border-radius:10px;
    margin-bottom: 70px;
    transition: 0.4s;
}
#container-video .conteudo-mp-video{
    padding: 10px 15px 20px 50px;
    margin-top:15px;
    margin-bottom: 4    0px;
    background:var(--cor-destaque);
    width:80vw;
}
#display-produtos {
    margin-top:120px;
    width:100vw;
    max-width:100vw;
    height:170px;
    background:#ccc;
}
#container-bolas {
    margin-top:15px;
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:15px;
}
.bolamaior {
    border-radius: 360px;
    height: 18px; width:18px;
    display: flex;
    justify-content:center;
    align-items:center;
    background: #ccc;
    border: 1px #b7b5b5 solid;
    margin-right:10px;
}
.bolamenor {
    border-radius:360px;
    height:10px; width:10px;
    background: var(--cor-interac);
}
.texto-destaque {
    font-weight: 700;
    color: var(--cor-interac);
    font-size: 30px;
}
#container-mascote-produtos .texto-destaque, #container-video .texto-destaque {
    font-size:25px;
}
.conteudo-mp,.conteudo-mp-video {
    border-radius:10px;
    padding-left:120px;
    margin-bottom: 15px;
    font-weight: 600;
    display: grid;
    margin-left:10px; 
    align-items:center;
    grid-template-columns: 60% 40%; 
    transition: 0.4s;
}
.conteudo-mp:hover {
    background-image:linear-gradient(#6688f5,#9d96e9);
    color:white;
}
.texto-mp {
    font-size:23px; 
}
.imagem-mp{
    display:flex;
    justify-content: center ;
    align-items:center;
}
.imagem-mp iframe {
    border-radius:15px;
    margin-left:15px;
}
.imagem-mp img {
    margin-left:15px;
    height: 150px;
    width:80%;
    border-radius:20px;
}   